<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/utils.css">

    <link
            rel="stylesheet"
            href="/css/style-sm.css"
            media="(min-width:480px)"
        />
    <link rel="stylesheet" href="/css/style-md.css" media="(min-width:768px)"/>
    <link rel="stylesheet" href="/css/style-lg.css" media="(min-width:1280px)">
    
    <title>mercadolibre</title>
</head>
<body>
    <header class="ml-yellow-background padding"> 
     <div class="main-header">
        <img class="logo-style" src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="w-50 padding-8 w-33-sm">
        <div class="flex no-wrap searchbar w-100">
            <input
                type="text"
                class="w-100"
                placeholder="Buscar productos, marcas"
            />
            <button><i class="fa fa-search"></i></button>
        </div>
       </div>
    
        <div class="text-center  w-100 w-33-sm"> 
            <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de creditos
        </div>
     </div>
     <div class="burger-menu">
        <i class="fas fa-bars" ></i>
    </div>
        <nav class="ml-main-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="register"class="padding-rigth " >Crea tu Compra</a><i   class="far fa-id-card padding-1"></i></li>
                <li><a href="Login">ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
        
    </header>
    <img class="banner" src="/img/img-home-banner.jpg" alt="banner">
    <main id="main-content">
        <section>
            <h3 class="titulares">Basado en tu ultima visita</h3>
          <div class="article-flex">
            <div class="product-wrapper">
            
                <article class="product"> 
            
                    <img  src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
            
                    width="100%">
            
                    <div class="product-content">
            
                        <i class="fas fa-truck truck-icon"></i>

                        <div class="price-discount">
                        <p class="precios" >$6770</p>
            
                        <p class="descuentos ml-green-text text-discount flex-grow">40% off</p>
                        </div>
            
                        <p class="descripciones">Cafetera Moulinex</p>
            
                    </div> 
            
                </article>
            </div>
            <div class="product-wrapper" >
            <article class="product"> 
            <img src="img/img-macbook-pro-2019.jpg" alt="Macbook"  width="100%">
            <div class="product-content">
            <i class="fas fa-truck truck-icon "></i>
            <div class="price-discount">
            <p class="precios">$230000</p>
            <p class="descuentos ml-green-text text-discount flex-grow">20% off</p>
            </div>
            <p class="descripciones">Macboock pro 2019</p>
            </div>
            <article>
            </div>
            <div class="product-wrapper" >
            <article class="product">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy"  width="100%">
            <div class="product-content ">
            <i class="fas fa-truck truck-icon"></i>
            <div class="price-discount">    
            <p class="precios">$70500</p>
            <p class="descuentos ml-green-text text-discount flex-grow">10% off</p>
            </div>
            <p class="descripciones">Samsung Galaxy s10</p>
            </div>
            </article>
            </div>
            <div  class="product-wrapper" >
            <article class="product">
            <img src="img/img-tv-samsung-smart.jpg" alt="Samsung tv smart"  width="100%">
            <div class="product-content">
            <i class="fas fa-truck truck-icon"></i>
            <div class="price-discount">
            <p class="precios">$23200</p>
            <p class="descuentos ml-green-text text-discount flex-grow">5% off</p>
            </div>
            <p class="descripciones">SmarteTV Samsung Smart</p>
            </div>
            </article>
            </div>
          
        </div>
    </section>

        <section>
         <h3 class="titulares">Seccion de Ofertas</h3>
         <div class="article-flex">
          <div class="product-wrapper">   
          <article class="product">
          <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"  width="100%">
          <div class="product-content">
          <i class="fas fa-truck truck-icon "></i>
          <div class="price-discount">
          <p class="precios">$6770</p>
          <p class="descuentos ml-green-text text-discount flex-grow">40% off</p>
          </div>
          <p class="descripciones">Cafetera Moulinex</p>
          </div>
          </article>
          </div>
          <div class="product-wrapper">
          <article class="product">
          <img src="img/img-macbook-pro-2019.jpg" alt="Macbook"  width="100%">
          <div class="product-content">
          <i class="fas fa-truck truck-icon"></i>
          <div class="price-discount">
          <p class="precios">$230000</p>
          <p class="descuentos ml-green-text text-discount flex-grow">20% off</p>
          </div>
          <p class="descripciones">Macboock pro 2019</p>
          </div>
          </article>
          </div>
          <div class="product-wrapper">
          <article class="product">
          <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy"  width="100%">
          <div class="product-content">
          <i class="fas fa-truck truck-icon"></i>
          <div class="price-discount">
          <p class="precios">$70500</p>
          <p class="descuentos ml-green-text text-discount flex-grow">10% off</p>
          </div>
          <p class="descripciones">Samsung Galaxy s10</p>
          </div>
          </article>
          </div>
          <div class="product-wrapper">
          <article class="product">
          <img src="img/img-tv-samsung-smart.jpg" alt="Samsung tv smart"  width="100%">
          <div class="product-content">
          <i class="fas fa-truck truck-icon"></i>
          <div class="price-discount">
          <p class="precios">$23200</p>
          <p class="descuentos ml-green-text text-discount flex-grow">5% off</p>
          </div>
          <p class="descripciones">SmarteTV Samsung Smart</p>
          </div>
          </article>
         </div>
        </div>   
        </section>
    </main>
    <footer>
        <section class="ml-footer-section ">
            <div class="footer-style">
            <i  class="far fa-credit-card footer-img "></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-style">
            <i class="fas fa-gift footer-img"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-style">
            <i class="fas fa-user-shield footer-img"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            </div>
        
            
        </section>
        <h4 class="padding-bottom">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
    
</body>
</html>