<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/utils.css" />

        <link
            rel="stylesheet"
            href="/css/style-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/style-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/style-lg.css"
            media="(min-width:1280px)"
        />
        <title>ingresa</title>
    </head>
    <body>
        <header class="ml-yellow-background padding">
            <div class="main-header">
                <img
                    class="logo-style"
                    src="img/logo-mercado-liebre.svg"
                    alt="logo-mercado-liebre"
                />
                <div class="w-50 padding-8 w-33-sm">
                    <div class="flex no-wrap searchbar w-100">
                        <input
                            type="text"
                            class="w-100 max-w"
                            placeholder="Buscar productos, marcas"
                        />
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <div class="text-center w-100 w-33-sm">
                    <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y
                    sin tarjetas de creditos
                </div>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="ml-main-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul>
                    <li>
                        <a href="register" class="padding-rigth"
                            >Crea tu Compra</a
                        ><i class="far fa-id-card padding-1"></i>
                    </li>
                    <li>
                        <a href="#">ingresá</a
                        ><i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis Compras</a
                        ><i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="login-style">
            <form action="/" method="GET">
                <div class="usuario">
                    <label for="usuario"></label>
                    <input
                        type="text"
                        name="usuario"
                        placeholder="Nombre de Usuario"
                    />
                </div>
                <div class="usuario">
                    <label for="password"></label>
                    <input
                        type="password"
                        name="usuario"
                        placeholder="Elegi tu contraseña"
                    />
                </div>
                <div class="login-boton">
                    <button type="submit" class="boton-estilo">Enviar</button>
                </div>
            </form>
        </main>
        <footer class="margin">
            <section class="ml-footer-section margin">
                <div class="footer-style">
                    <i class="far fa-credit-card footer-img"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con
                        tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!
                    </p>
                </div>
                <div class="footer-style">
                    <i class="fas fa-gift footer-img"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos
                        gratis en miles de productos. Es un beneficio de Mercado
                        Puntos.
                    </p>
                </div>
                <div class="footer-style">
                    <i class="fas fa-user-shield footer-img"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada
                        que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </section>
            <h4 class="padding-bottom">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </h4>
        </footer>
    </body>
</html>
