<!DOCTYPE html>
<html lang="en">
    <head >
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/utils.css" />

        <link
            rel="stylesheet"
            href="/css/style-sm.css"
            media="(min-width:480px)"
        />
    <link rel="stylesheet" href="/css/style-md.css" media="(min-width:768px)"/>
    <link rel="stylesheet" href="/css/style-lg.css" media="(min-width:1280px)">

        <title>mercado Liebre - Registro</title>
    </head>
    <body>
        <header class="ml-yellow-background padding"> 
            <div class="main-header">
               <img class="logo-style" src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
               <div class="w-50 padding-8 w-33-sm">
                 <div class="flex no-wrap searchbar w-100">
                   <input
                       type="text"
                       class="w-100"
                       placeholder="Buscar productos, marcas"
                   />
                   <button><i class="fa fa-search"></i></button>
                 </div>
              </div>
           
               <div class="text-center  w-100 w-33-sm"> 
                   <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de creditos
               </div>
             </div>
             <div class="burger-menu">
               <i class="fas fa-bars" ></i>
             </div>
               <nav class="ml-main-nav">
                   <ul>
                       <li><a href="#">Ofertas</a></li>
                       <li><a href="#">Tiendas Oficiales</a></li>
                       <li><a href="#">Vender</a></li>
                       <li><a href="#">Ayuda</a></li>
                   </ul>
       
                   <ul>
                       <li><a href="register"class="padding-rigth " >Crea tu Compra</a><i   class="far fa-id-card padding-1"></i></li>
                       <li><a href="Login">ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                       <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                   </ul>
               </nav>
               
               
           </header>
        <main class="main-padding main-color">
           <h1 class="h1-form"></h1>
            <form action="/" method="GET" class="estilo-formulario">
                <p class="form-p">
                    <label for="firstname">Nombre y Apellido</label>
                    <input id="firstname" type="text" name="firstname" placeholder="Nombre y Apellido" />
                    <p class="erorr">El nombre y apellido es requerido</p>
                </p>
                <p class="form-p">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" name="usuario">
                </p>
                <p class="form-p">
                    <label for="Fecha">Fecha de Nacimiento</label>
                    <input type="date" id="Fecha" name="Fecha">
                </p>
                <p class="form-p">
                    <label for="address">Domicilio</label>
                    <input type="text" id="address" name="address">
                </p>
                <p class="form-p">
                  <h4>Perfil de Usuario</h4> 
                  <input type="radio" name="perfil"value="comp">
                  <label for="perfil" class="padding">Comprador</label>
                  <input type="radio" name="perfil"value="vend">
                  <label for="perfil" class="padding">Vendedor</label>
                </p>
                <p class="form-p">
                 <h4>Interes</h4>
                  <div  class="style-checbox">
                  <input type="checkbox">
                  <label for="interes" class="padding">Electro</label>
                  </div>
                  <div class="style-checbox">
                  <input type="checkbox" name="interes"value="mda">
                  <label for="interes" class="padding">Moda</label>
                  </div>
                  <div class="style-checbox">
                  <input type="checkbox" name=interes value="hog">
                  <label for="interes" class="padding">Hogar</label>
                  </div>
                  <div class="style-checbox">
                  <input type="checkbox" name="interes" value="jug">
                  <label for="interes" class="padding">Jugueteria</label>
                  </div>
                  <div class="style-checbox">
                  <input type="checkbox" name="interes" value="vs">
                  <label for="interes" class="padding">Vida sana</label>
                  </div>
                </p>
                <p class="form-p">
                    <label for="foto" class="form-p label">Sube tu Foto</label>
                    <input type="file" name="foto" accept="image/*">
                </p>
                <p class="form-p">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña">
                </p>
                <p class="form-p">
                    <label for="contraseña"> Confirma la Contraseña</label>
                    <input type="password" name="contraseña">
                </p>
                <p>
                    <button type="submit" class="boton-estilo">Enviar</button>
                    <button type="reset" class="boton-estilo">Borrar</button>
                </p>

                
            </form>
        </main>
    </body>
</html>
