* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
.estilo-img {
  width: 50%;
  display: inline;
}

.header-position {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}
.logo-style {
  width: 200px;
}
.searchbar {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.searchbar input,
.searchbar button {
  background-color: white;
  border: none;
  height: 30px;
}
.ml-main-nav ul {
  list-style-type: none;
  padding-left: 0;
  display: none;
}

.ml-main-nav a {
  color: black;
  text-decoration: none;
  padding: 2px;
}

.burger-menu {
  text-align: center;
  font-size: 28px;
  width: 45px;
  padding: 8px;
  margin: 0% auto;
  border-radius: 5px;
  height: 45px;
  background-color: blue;
  margin-top: 10px;
}

.burger-menu i {
  color: white;
}

#main-content {
  padding: 0 5%;
}
.article-flex {
  display: flex;
  flex-wrap: wrap;
}
.product-wrapper {
  padding: 15px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border: 1px solid #ebebeb;
}
.product {
  border: 1px solid #ebebeb;
}

.product-content {
  border-top: 1px solid #ebebeb;
  position: relative;
}
.product-content .text-desc {
  display: none;
}

.truck-icon {
  font-size: 16px;
  padding: 5px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  color: #39b54a;
  position: absolute;
  right: 20px;
  top: -15px;
}
.text-discount {
  padding-left: 10px;
  align-self: center;
}
.flex-grow {
  flex-grow: 0.7;
}
.price-discount {
  display: flex;
}

.ml-footer-section {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}
.footer-img:hover {
  color: green;
}
.ml-footer-section h4 {
  margin-bottom: 0%;
}
.ml-footer-section p {
  margin-top: 0%;
}

.ml-footer-section i {
  color: blue;
  font-size: 2em;
}

.h1-form {
  padding: 0px 30px;
  font-style: italic;
  text-decoration: underline;
}
.boton-estilo {
  background-color: #31259c;
  font-size: 20px;
  padding: 8px 5px;
  border: none;
  color: white;
  border-radius: 5px;
}
.boton-estilo:hover {
  background-color: grey;
}
.estilo-formulario {
  padding: 0% 5%;
}
.form-p {
  margin-bottom: 20px;
}
.form-p label {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
}
.form-p input {
  width: 100%;
}
.style-checbox {
  padding: 5% 0%;
}

.borde {
  border: 10px solid salmon;
  position: relative;
}
.borde img {
  width: 100%;
}
.tt {
  position: absolute;
  background-color: rgb(46, 139, 87);
  color: white;
  font-size: 26px;
  left: 0px;
  bottom: 0%;
  width: 100%;
  margin: 0%;
}
.usuario {
  text-align: center;
  width: 100%;
  display: inline-grid;
  padding: 30px 60px;
  margin: auto;
}
.usuario input {
  border-radius: 5px;
  border: none;
  font-size: 120%;
}

.login-style {
  background-color: rgb(243, 241, 241);
}
.login-boton {
  text-align: center;
  display: grid;
  padding: 0px 80px;
}
