.burger-menu {
  display: none;
}

.main-header {
  display: flex;
  justify-content: center;
}
.ml-main-nav ul {
  list-style-type: none;
  padding-left: 0;
  display: block;
}
.ml-main-nav {
  display: flex;
  justify-content: space-between;
}
.ml-main-nav ul {
  display: flex;
}

.product-content .text-desc {
  display: initial;
}

.product-wrapper {
  width: 50%;
}

.show-sm {
  display: initial;
}
.w-50-sm {
  width: 50%;
}
.w-100-sm {
  width: 100%;
}
.w-33-sm {
  width: 33%;
}
