.burger-menu {
  display: none;
}

.product-content .text-desc {
  display: initial;
}

.ml-main-nav {
  display: flex;
  justify-content: space-between;
}
.ml-main-nav ul {
  display: flex;
}
.ml-main-nav li {
  margin: 0px 3px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-wrapper {
  width: 50%;
}
