.text-center {
  text-align: center;
  font-weight: bold;
}
.padding-bottom {
  padding: 10px;
}

.w-50 {
  width: 50%;
}
.padding {
  padding: 0px 5px;
}
.main-padding {
  padding: 10px;
}
.w-100 {
  width: 100%;
}
.padding-8 {
  padding: 8px;
}

.flex {
  display: flex !important;
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
.margin {
  margin: 10px;
}
